/* header section */
body{
    font-family: 'Work Sans', sans-serif;

}

.title{
    
    font-size: 65px;
    text-align: right;
    margin: 0;
    padding-top: 200px;
    padding-right: 100px;
    color: #151414;
}

.background-image{
    background-image: url(../images/banner/banner2.png);
    width: 1600px;
    height: 809px;
    left: 1600px;
    top: 0px;
    
}

.sub-title{

    text-align: right;
    color: #444343;
    padding-right: 100px;
    
}

.contact-us{
    width: 160px;
    height: 64px;
    float: right;
    background-color: #F15B22;
    color: #FFFFFF;
    font-size: 20px;
    align-items: flex-end;
    border-radius: 5px;
    margin-right: 100px;
    border: none;
 
}

/* main section  */

.failure-year{
    display: flex;
   justify-content: center;
    padding-top: 200px;
}

.sub-title2{

    text-align: left;
    color: #444343;
    padding-right: 100px;
    
}

ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
    color: #16D887;
  }

  /* my plans  */
  .my-plan-title{
    text-align: center;
  }

  .my-plan{
    display: flex;
    justify-content: center;
  }

  .plans{
    padding: 30px;
    text-align: center;
  }

  /* mindset section  */

  .watch-img{
    background-image:
    linear-gradient(90deg, #F15B22 0%, rgba(243, 92, 34, 0.2) 100%),
    url('../images/watch.png');
    width: 1140px;
    height: 300px;  
    margin-left: 180px;
  }

  .watch-title{
    width: 459px;
    height: 94px;
    font-size: 40px;
    padding-left: 40px;;
    padding-top: 30px;
    color: #FFFFFF;
  }

  .btn-call{
    border-radius: 5px;
    background-color: white;
    width: 160px;
    height: 64px;
    margin-left: 40px;
    color: #F15B22;
    font-size: 20px;
    border: none;
  }

  /* footer section 
  --------------------- */

  .footer{
    background-color: #151414;
    color: #FFFFFF;
  }

  .footer-split{
    display: flex;
    justify-content: space-between;
  }

  .future-align{
  
    padding-left: 100px;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;

  }

  .email{
    background-color: #151414;
    width: 3o0px;
height: 30px;
  }

  .sub-text{
    width: 123px;
    height: 29px;
  }

  .btn-sub{
    border-radius: 5px;
    background-color: white;
    width: 160px;
    height: 64px;
    color: #F15B22;
    font-size: 20px;
    border: none;
  }

  .subs-align{
    padding-right: 100px;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;

  }